$success-color: crimson !important;
$link-color: crimson !important;

$success-color: crimson !important;
$warning-color: crimson !important;
$error-color: crimson !important;
$font-size-base: 14px;
$heading-color: crimson;
$text-color: crimson;
$text-color-secondary: crimson;
$disabled-color: crimson;
$border-radius-base: 4px;
$border-color-base: crimson !important;
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
